# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart_attendance?retryWrites=true&w=majority&appName=<appName>


FRONTEND_BASE_URL=http://localhost:5173
BACKEND_BASE_URL=http://localhost:8000

# Authentication
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=HS256


# Brevo setup
BREVO_API_KEY=xkeysib-your-brevo-api-key
BREVO_SENDER_EMAIL=no-reply@yourdomain.com
BREVO_SENDER_NAME=Smart Attendance

# ML Service
ML_SERVICE_URL=http://localhost:8001
ML_SERVICE_TIMEOUT=30
ML_SERVICE_MAX_RETRIES=3

ML_CONFIDENT_THRESHOLD=0.50
ML_UNCERTAIN_THRESHOLD=0.60

# Google OAuth Setup
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_secret_key

# Facebook OAuth Setup
FACEBOOK_REDIRECT_URI=http://localhost:8000/auth/facebook/callback
FACEBOOK_CLIENT_ID=your_client_id
FACEBOOK_CLIENT_SECRET=your_secret_key


# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
