fastapi==0.115.5
gunicorn==21.2.0
uvicorn[standard]==0.32.1
pillow==11.0.0
pydantic==2.10.3
python-multipart
authlib
python-dotenv
PyJWT
itsdangerous
httpx
pymongo
email-validator
motor
python-jose
pydantic-settings==2.10.1
aiofiles==24.1.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
